@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,200italic,400italic,600italic|Roboto+Slab:400,700);

body {
	background:#fff;
	color:#111;
	font-family:'Source Sans Pro','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size:10px;
}

blockquote,
blockquote p {
	color:#777;
	font-size:17px;
	line-height:24px;
}

blockquote {
	border-left:1px solid #ddd;
	margin:0 0 20px;
	padding:0 20px 0 19px;
}


h1,h2,h3,h4,h5,h6 {
	color:#333;
	font-family:'Roboto Slab','Droid Sans','Lucida Grande',Tahoma,sans-serif;
	font-weight:700;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	font-weight:inherit;
}

h1 {
	font-size:24px;
	line-height:35px;
	margin-bottom:17px;
}

h2 {
	font-size:24px;
	line-height:35px;
	margin-bottom:17px;
}

h3 {
	font-size:20px;
	line-height:30px;
	margin-bottom:15px;
}

h4 {
	font-size:16px;
	line-height:26px;
	margin-bottom:13px;
}

h5 {
	font-size:13px;
	line-height:23px;
}

h6 {
	font-size:13px;
	line-height:23px;
}

p {
    font-size:18px;
	line-height:28px;
	margin:0 0 28px 0;
}

p.note {
	background-color:#f5f5f5;
	padding:10px;
}

p.alert {
	background-color:#ffffa0;
	padding:10px;
}

p.pullquote {
    clear:both;
	color:#cc0000;
	font-size:26px !important;
    font-style:italic;
	font-weight:bold;
	line-height:37px !important;
	margin-left:26px !important;
	margin-right:26px !important;
}

small {
	font-size:80%;
}

ol,
ul {
	margin-bottom:28px;
	margin-left:30px;
}

li {
    font-size:18px;
    line-height:28px;
    margin-bottom:14px;
}

.clear {
	clear:both;
}